.idea/
.tscache/
vendor/
public_html/error.log
public_html/assets/download/*
public_html/assets/curriculo/*
public_html/assets/galeria/*
public_html/assets/banner/*
public_html/assets/video/*
public_html/assets/imagem/*
public_html/sitemap/*.xml
error.log
node_modules/
data/cache
app/storage/twig
app/storage/ModuloCache.yaml
!index.html
!.htaccess
.phpunit.result.cache